#htmlEditor {
            margin-bottom: 10px;
        }
        #feedback 
        {
            padding-left: 10px;
            color: Red;
        }
        span.ui-icon.ui-icon-contact
        {
            background-image: url("http://staging.igniteui.local/13-2/images/samples/html-editor/ui-icons_222222_256x240.png"); 
            background-position: -192px -128px;
        }