.ui-bulletgraph-targetValue {
            background-color: white;
            border-color: white;
        }

        .ui-bulletgraph-value-palette-1 {
            background-color: white;
            border-color: white;
        }