#next, #prev, #copy { float: left; width: 48px; height: 48px; margin: 2px 5px 5px 0; padding: 0; border: none; cursor: pointer; padding: 0; background-image: url(http://staging.igniteui.local/13-2/images/samples/data-chart/music-controls-sprite.png); background-repeat: no-repeat; border-radius: 5px; border: 1px solid #535353; }
        #copy { float: right; background-position: 40px 40px; }
            #copy:hover { background-position: 0 -50px; }
        #prev { background-position: -192px 0px; }
            #prev:hover { background-position: -192px -50px; }
        #next { background-position: -240px 0px; }
            #next:hover { background-position: -240px -50px; }
        .clear { clear: both; }